<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="../NetworkModelService.log" />
      </listeners>
    </trace>
    <switches>
      <!-- 0 - Disabled 
           1 = Error   - Gives error messages
           2 = Warning - Gives errors and warnings
           3 = Info    - Gives more detailed error information
           4 = Verbose - Gives verbose trace information.    -->
      <add name="TraceLevel" value = "Info" />
    </switches>
  </system.diagnostics>

  <connectionStrings>
    <add name="networkModelconnectionString"	connectionString="../NetworkModelData.data"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="NMS.ServiceBehavior" name="NetworkModelService.GDA.GenericDataAccess">
        <endpoint address="" binding="netTcpBinding" contract="NetworkModelGDAContract.INetworkModelGDAContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="netTcpBinding" contract="TransactionManagerContracts.IModelUpdateContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10001/NetworkModelService/GDA/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="NMS.ServiceBehavior" name="NetworkModelService.NotifyNMSService">
        <endpoint address="" binding="netTcpBinding" contract="TransactionManagerContracts.INotifyNMS"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10010/NetworkModelService/NotifyNMS" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <client>
      <!-- CE Service-->
      <endpoint address="net.tcp://localhost:10000/CE" behaviorConfiguration="NMSClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="TransactionManagerContracts.IModelUpdateContract" name="CE">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <endpoint address="net.tcp://localhost:10055/NDS" behaviorConfiguration="NMSClientBehavior" binding="netTcpBinding" bindingConfiguration="netTcpBindingNoSecurity" contract="TransactionManagerContracts.IModelUpdateContract" name="NDS">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
    
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" closeTimeout="00:30:00"
				 openTimeout="00:30:00" sendTimeout="00:10:00" receiveTimeout="10:30:00" maxBufferSize="2147483647"
				  maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="NMS.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceThrottling
           maxConcurrentCalls="1000"
           maxConcurrentSessions="1000"
           maxConcurrentInstances="1000"
          />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="NMSClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>