<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <system.serviceModel>
  <services>
    <service name="AlarmEventService.AlarmEventServices">
      <endpoint address="" binding="netTcpBinding" contract="ScadaCommon.ServiceContract.IAlarmEventService"/>
      <host>
        <baseAddresses>
          <add baseAddress="net.tcp://localhost:10058/IAlarmEventService"/>
        </baseAddresses>
      </host>
    </service>
  </services>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  
    <system.serviceModel>
      <services>
        <service behaviorConfiguration="AlarmEventService.ServiceBehavior" name="AlarmEventService.AlarmEventServices">
          <endpoint address="" binding="netTcpBinding" contract="ScadaCommon.ServiceContract.IAlarmEventService"/>
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://localhost:10058/IAlarmEventService"/>
            </baseAddresses>
          </host>
        </service>
      </services>

      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IEventServiceOperations" />
          <binding name="BasicHttpBinding_IAlarmServiceOperations" />
        </basicHttpBinding>
        <netTcpBinding>
          <binding name="netTcpBindingNoSecurity" closeTimeout="00:30:00"
            openTimeout="00:30:00" receiveTimeout="10:30:00" sendTimeout="00:10:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
            <security mode="None">
              <transport clientCredentialType="None" protectionLevel="None" />
            </security>
          </binding>
        </netTcpBinding>
      </bindings>


      <behaviors>
        <serviceBehaviors>
          <behavior name="AlarmEventService.ServiceBehavior">
            <serviceMetadata httpGetEnabled="false"/>
            <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000"/>
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      
        <client>
            <endpoint address="http://localhost:55517/EventServiceOperations.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventServiceOperations"
                contract="EventServiceRef.IEventServiceOperations" name="BasicHttpBinding_IEventServiceOperations" />
            <endpoint address="http://localhost:55517/AlarmServiceOperations.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAlarmServiceOperations"
                contract="AlarmServiceRef.IAlarmServiceOperations" name="BasicHttpBinding_IAlarmServiceOperations" />
        </client>
    </system.serviceModel>
  
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>

  <connectionStrings>
    <add name="AlarmEventDB" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AlarmEventDB.mdf;Integrated Security=True;"/>
  </connectionStrings>
</configuration>