<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="NetworkDynamicService.ServiceBehavior" name="NetworkDynamicService.ProcessingService">
        <endpoint address="" binding="netTcpBinding" contract="ScadaCommon.ServiceContract.IProcessingServiceContract" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10050/IProcessingServiceContract" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="NetworkDynamicService.ServiceBehavior" name="NetworkDynamicService.PointUpdater.StateUpdateService">
        <endpoint address="" binding="netTcpBinding" contract="ScadaCommon.ServiceContract.IStateUpdateService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10005/IStateUpdateService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="NetworkDynamicService.ServiceBehavior" name="NetworkDynamicService.CommandingService">
        <endpoint address="" binding="netTcpBinding" contract="ScadaCommon.ServiceContract.ICommandingServiceContract" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10022/ICommandingServiceContract" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="NetworkDynamicService.ServiceBehavior" name="NetworkDynamicService.Transaction.ModelUpdateContract">
        <endpoint address="" binding="netTcpBinding" contract="TransactionManagerContracts.IModelUpdateContract" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10055/NDS" />
          </baseAddresses>
        </host>
      </service>
    </services>

    
    <client>
      <endpoint address="net.tcp://localhost:10002/IFEPCommandingServiceContract" binding="netTcpBinding" contract="ScadaCommon.ServiceContract.IFEPCommandingServiceContract" name="FEPCommandingServiceContract" />
      <endpoint address="net.tcp://localhost:7001/Pub" binding="netTcpBinding" contract="PubSubCommon.IPub" name="PublisherEndPoint" />
      <endpoint address="net.tcp://localhost:20005/IPointUpdateService" binding="netTcpBinding" contract="ScadaCommon.ServiceContract.IPointUpdateService" name="UpdatePointEndPoint" />
      <endpoint address="net.tcp://localhost:10058/IAlarmEventService" binding="netTcpBinding" contract="ScadaCommon.ServiceContract.IAlarmEventService" name="AlarmEventServiceEndPoint" />
    <endpoint address="net.tcp://localhost:11111/IFEPConfigService" binding="netTcpBinding" contract="ScadaCommon.BackEnd_FrontEnd.IFEPConfigService" name="IFEPConfigService" />
    </client>

    
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="10:30:00" sendTimeout="00:10:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    
    <behaviors>
      <serviceBehaviors>
        <behavior name="NetworkDynamicService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
