<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <services>
      <service name="BackEndProcessorService.BackEndPocessingModule">
        <endpoint address="" binding="netTcpBinding" contract="ScadaCommon.ServiceContract.IBackEndProessingData" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10000/IBackEndProessingData" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <client>
      <endpoint address="net.tcp://localhost:10002/IFieldCommunicationService"
                binding="netTcpBinding"
                contract="ScadaCommon.ServiceContract.IFieldCommunicationService" name="FieldCommunicationServiceEndPoint">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>