<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:10050/IBackEndProessingData"
                binding="netTcpBinding"
                contract="ScadaCommon.ServiceContract.IBackEndProessingData" name="NetworkDynamicServiceEndPoint">
      </endpoint>

      <endpoint address="net.tcp://localhost:10005/IStateUpdateService"
                binding="netTcpBinding"
                contract="ScadaCommon.ServiceContract.IStateUpdateService" name="NetworkDynamicStateServiceEndPoint">
      </endpoint>
    </client>

    <services>
      <service name="FrontEndProcessorService.FEPCommandingService">
        <endpoint address="" binding="netTcpBinding" contract="ScadaCommon.ServiceContract.IFEPCommandingServiceContract" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10002/IFEPCommandingServiceContract" />
          </baseAddresses>
        </host>
      </service>
      <service name="FrontEndProcessorService.NDSConfigurationService">
        <endpoint address="" binding="netTcpBinding" contract="ScadaCommon.BackEnd_FrontEnd.IFEPConfigService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:11111/IFEPConfigService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
